@import 'receptors.css';
@import 'config.css';
@import 'box-search-bar.css';

#diagram-fullscreen-trigger {
  float: right;
  position: relative;
  img {
    height: auto;
    left: -42px;
    position: absolute;
    top: -10px;
    width: 40px;

    transition: linear .1s all;
    &:hover {
      width: 42px;
    }
  }
}

#diagram-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
