<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>
<body>
<ul>
    <% projects.forEach(function(project){ %>
        <li><a href="/<%= project.name %>"><%= project.name %></a></li>
    <% }); %>
</ul>
<style type="text/css">
    ul li {
        font-size: 30px;
    }
</style>
</body>
</html>