<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <%- include partials/_common_dependencies.ejs %>
</head>
<body>
<div class="col-lg-offset-1 col-lg-10">
<h1><%= project.name %> <span style="font-size: 16px;"><a href="/">index</a></span></h1>
<ul>
    <% project.files.forEach(function(file){ %>
        <li><a href="<%= '/' + project.name + '/' + file %>"><%= file %></a></li>
    <% }); %>
</ul>
</div>
<style type="text/css">
    ul li {
        font-size: 30px;
    }
</style>
</body>
</html>