* {
  font-family: 'Roboto', sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

body {
  padding: 0 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
}

li {
  padding-bottom: 5px;
}

#title {
  a {
    color: #90a991;

    @include transition(all linear .5s);
    &:hover {
      color: #5d6f5e;
    }
  }
  small {
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    a {
      color: #909090;
    }
  }
}

#diagrams-tooltip {
  background: #fff;
  border: solid 2px #ccc;
  box-shadow: 0 0 10px 1px #aaa;
  font-size: 30px;
  left: 1%;
  opacity: .9;
  padding: 20px;
  position: absolute;
  width: 95%;
  word-wrap: break-word;
}

#diagrams-banner {
  border: 1px solid #ccc;
  font-size: 25px;
  margin-bottom: 0;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 20px;

  @include border-radius(10px);
  &:hover {
    border-width: 2px;
    .diagrams-banner-cross {
      cursor: pointer;
      opacity: 1;
    }
  }
  .diagrams-banner-cross {
    background-color: #f5fcff;
    color: #777;
    opacity: 0;
    padding: 0 5px;
    position: absolute;
    right: 40px;

    @include border-radius(10px);
    @include box-shadow(0 0 1px .5px #ccc);
    @include transition(.5s linear all);
  }
  .diagrams-banner-breadcrumb {
    .banner-breadcrumb-level-separator {
      color: rgb(195, 145, 66);
    }
  }
  .banner-footer-scroll,
  .banner-breadcrumb-level-number,
  .banner-footer-siblings,
  .banner-footer-dependants {
    color: rgb(88, 138, 187);
    cursor: pointer;
  }
  .diagrams-banner-breadcrumb,
  .diagrams-banner-footer {
    color: #777;
    font-size: 15px;
  }
}

#diagram-configuration-trigger {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
#diagram-configuration-panel {
  background-color: #fafafa;
  border: 1px solid #777;
  box-shadow: 0 0 10px 1px #eee;
  display: none;
  padding: 30px;

  @include border-radius(10px);
  label {
    margin: 5px 0;
    &.checkbox-label {
      cursor: pointer;
    }
  }
  select {
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 30px;
    margin-top: 15px;
    padding-left: 10px;
    text-shadow: 1px 1px 1px #eee;

    @include border-radius(5px);
  }
}

#box-search-bar-container {
  box-shadow: 0 0 10px 1px #777;
  margin: 20px 0 10px 20px;
  padding: 20px;
  input[type='text'] {
    margin: 0 15px 0 0;
    width: 80%;
  }
  input[type='checkbox'] {
    margin-left: 10px;
  }
  p {
    font-size: 20px;
    font-weight: bold;
  }
}
