#layout-default {
  p {
    font-size: 30px;
  }
}

#layout-default-breadcrumb {
  .separator {
    margin: 0 10px;
  }
}

#layout-default-header {
  h1 {
    a {
      color: rgb(144, 169, 145);
    }
    small {
      font-size: 16px;
      margin-left: 30px;
    }
  }
}